/* ---- reset ---- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 75% Arial, Helvetica, sans-serif;
  color: #d0d0d0;
  background-color: #0a0a0a;
}

canvas {
  display: block;
  /* vertical-align: bottom; */
}

a {
  text-decoration: none;
  color: unset;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 100vh;
  background-color: #0a0a0a;
  position: relative;
}

/* Container */
#app {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main */
.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Profile */
.profile_img img {
  width: 150px;
  image-rendering: optimizeQuality;
  object-position: center;
  object-fit: cover;
}

/* Name and Description */
.profile_info {
  width:80%;
}

.profile_title {
  width: 100%;
}

.profile_title h1 {
  margin-bottom: -15px;
}

.profile_title h4 {
  color: #8c00ff;
  font-size:0.8rem;
}

/* social links */
.social {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(0,202,115);
}

.social img{
  width: 25px;
  margin-right: 8px;
}

.social a{
  width:100%;
  font: 400 1rem 'Arial', sans-serif;
  display:flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 15px;

  transition: all .5s ease;

  position:relative;
}

.social a:hover{
  transform: translateY(-8px )
}

.social .github a:hover{
  color: #ffbe00;
}

.social .linkedin a:hover{
  color: #00a2ff;
}

.social .codepen a:hover{
  color: #fff;
}

/* Mobile */
@media screen and (max-width: 600px) {

  .card{
      flex-direction: column;
  }
  .profile_info {
    width: 100%;
    text-align: center;
  }

/*   .social{
    flex-direction: column;
  } */
  
}
